<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/reverse" method="post">
        <input type="text" placeholder="firstname" name="firstName"> <br/>
        <input type="text" placeholder="lastName" name="lastName"> <br/>
        <input type="submit"  value="firstName"> <br/>
    </form>
</body>
</html>